.Person {
  font-weight: 700;
  width: 60%;
  margin: 16px auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
}

.PersonHobbies {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  text-align: left;
}

@media (min-width: 500px) {
  .Person {
    width: 450px;
  }
}
